body{
    margin:0;
}
～ナビ～
header{
    position:fixed;
    top:0px;
    height:65px;
}
header .in_home{
    background-color:#135389;
}
header .in_anime{
    background-color:#ff7d27;
}
header .in_hoby{
    background-color:#F8C68D;
}
header .in_music{
    background-color:#00A960;
}
header .in_manga{
    background-color:#235180;
}
header .in_movie{
    background-color:#1D2129;
}
nav{
    display:flex;
    justify-content:space-between;
    height:55px;
    position:fixed;top:0;
    width:100%;
    padding:5px;
}
.title_div{
    display:flex;
    align-items:center;
    margin-left:10px;
    color:#FFFFFF;
}

nav a{
    margin-right:10px;
}
.nav_image img{
    width:55px;
}
nav img:hover{
    opacity: 0.3;
    color:#0c283f;
}

.page_move{
    position:fixed;
    bottom:1%;
    right:1%;
    width:70px;
}
.page_back{
    position:fixed;
    bottom:1%;
    left:1%;
    width:70px;
}
～ホーム～
#home_form{
    width:100%;
}
#home_form img{
    margin-top:65px;
    width:800px;
}
#home_text{
    position:absolute;
    width:650px;
    top:80px;
    margin-left:790px;
}
#home_text button{
    width:194px;
    border:none;
    background-color:#135389;
    padding:10px 35px 10px 35px;
    border-radius:20px;
    color:#FFFFFF;
    font-size:20px;
}
#home_text h1{
    font-size:100px;
    margin:-10px 20px 20px 5px;
    width:400px;
}
#home_text h2{
    font-size:40px;
    margin:5px 0px 8px 20px;
}

～アニメ～
#anime{
    font-family: 'MS Pゴシック','MS PGothic',sans-serif;
    font-size:40px;
}
.sorayori_main{
    width:100%;
    height:100%;
    display:flex;
}
#anime_big_content{
    margin-top:65px;
    padding-top:15px;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    background-color:#1d7dcc;
}
.anime_content_div{
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    width: 48%;
    box-sizing: border-box;
    display:flex;
}
.anime2_content_img{
    height:350px;
}
.anime2_sentence h2{
    font-size:33px;
}
.anime2_name{
    display:flex;
    align-items:center;
    width:260px;
    justify-content:space-between;
}
.anime2_text{
    padding:10px;
    text-indent:-2em;
    padding-left:1em;
}
#anime_titole{
    width:500px;
    font-size:80px;
    font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
    position:fixed;
    top: 120px;
    left:80px;
    color:#FFFFFF;
}
.anime2_sentence small{
    font-size:15px;
}
～映画～
.movie_div{
    width:100%;
    height:100%;
}
.movie_div img{
    width:100%;
    padding-top:7px;
    box-sizing:border-box;
}
#movie2_body{
    background-color:#000000;
}
.movie2_div{
    padding-top:100px;
    padding-left:50px;
    font-size:100px;
    font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
    color:#FFFFFF;
    text-align:center;
    width: fit-content;
}
#movie2_1colum{
    display:flex;
    align-items:flex-end;
}
#movie2_2colum{
    display:flex;
    align-items:flex-end;  
    margin-top:50px; 
    margin-left:60px;
}
#movie2_3colum{
    margin-left:33px;
    margin-top:80px;
    width:300px;
}
#movie2_4colum{
    margin-top:-90px;
    margin-left:60px;
    display:flex;
    align-items:flex-end;  
}
.movie2_div h2{
    margin:0;
    font-size:100px;
    padding:0px 2px 0px 0px;
    height:80px;
}
.movie2_div h1{
    margin:0;
    font-size:125px;
    height:105px;
}
.movie2_div h4{
    margin:0;
    font-size:65px;
    padding:0px 4px 0px 3px;
    height:40px;
}
.movie2_div h3{
    margin:0;
    font-size:225px;
    height:225px;
}
.movie3_form{
    color:#FFFFFF;
    margin-top:65px;
}
.movie3_bigicontent{
   padding-top:5px;
}
.subcontent_text ul{
    margin:0px auto 0px auto;
    font-size:20px;
}
.subcontent_1colum h1{
    margin-left:30px;
    margin-right:15px;
    font-size:40px;
}
.subcontent_1colum{
    display:flex;
    align-items:center;
}
.movie3_subcontent{
    width:600px;
    height:250px;
    border:1px solid #FFFFFF;
    margin:50px;
}
.movie3_subcontent img{
    width:170px;
    float:right;
    margin:40px 30px 0px 0px;
}
#movie3_explaindiv{
    position:fixed;
    top:100px;
    left:700px;
}
#movie3_explaindiv p{
    margin:15px;
    font-size:21px;
}
#movie3_explaindiv h1{
    font-size:40px;
    margin-bottom:0;
    margin-top:5px;
}
#movie3_myexplaindiv{
    position:fixed;
    left:700px;
    top:500px;
}
#movie3_myexplaindiv p{
    font-size:25px;
    margin-left:20px;
    margin-top:5px;
    margin-bottom:5px;
}
～音楽～
.music_maindiv{
    width:400px;
}
.music_maindiv img{
    width:232px;
    margin-top:13px;
    margin-bottom:12.5px;
}
.music_sub{
    float:right;
    box-sizing:border-box;
    width:260px;
    box-sizing:border-box;
}
.music_sub h1{
    margin-top:30px;
    font-size:25px;
    margin-left:10px;
}
.music_sub a{
    text-decoration:none;
    color:#FFFFFF;
}
.music_sub h3{
    margin-top:0;
    margin-bottom:7px;
}
.music_home{
    background-color:#000000;
    color:#FFFFFF;
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    margin-top:65px;
    padding-top:12px;
}
.music2_home{
    margin-top:65px;
    background-color:#000000;
    display:flex;
    color:#fafbfc;
}
.music2_home img{
    width:500px;
    margin:11px 0px 2px 50px;
}
#music2_albam{
    padding:10px 0px 10px 20px;
    color:#fafbfc;
    width:500px;
    margin-left:50px;
    box-sizing:border-box;
    border: 1px solid #272a31;
    border-radius:20px;
    background-color:#2e323a;
}
#music2_albam img{
    width:100px;
    margin:5px 0px 0px 0px;
}
#music2_albam_div h3{
    margin-top:0;
    margin-bottom:5px;
}
#music2_albam_div{
    float:right;
    margin:20px 225px 0px 0px;
}
#music2_albam p{
    margin:2px 0px 0px 0px;
    font-size:20px;
}
#music2_albam ol{
    margin:3px 0px 0px 0px;
    padding-left:20px;
}
.music2_bigform{
    float:right;
    display:flex;
    padding:20px;
    height:540px;
}
.music2_bigform h2{
    font-size:40px;
    margin-bottom:0px;
    margin-top:0px;
}
#music2_home2{
    margin-left:80px;
    width:400px;
}
#music2_home3{
    margin:40px 0px 0px 40px;
}
#music2_home4{
    position:absolute;
    bottom:-60px;
    left:650px;
    width:560px;
    border:1px solid #FFFFFF;
    border-radius:5px;
}
#music2_home4 img{
    width:150px;
    margin-left:20px;
}
#music2_home4 p{
    margin-left:20px;
    float:right;
}
#music2_home5{
    position:absolute;
    bottom:40px;
    left:650px;
    width:560px;
    border:1px solid #FFFFFF;
    border-radius:5px;
}
#music2_home5 img{
    width:150px;
    margin-left:20px;
}
#music2_home5 p{
    margin-left:20px;
    float:right;
}
～漫画～
.manga_div{
    width:100%;
    height:100%;
    box-sizing:border-box;
}
.manga_div img{
    width:100%;
    height:100%;
    margin-top:15px;
}
#manga1_text{
    font-family: 'ＭＳ Ｐ明朝','MS PMincho',sans-serif;
    color:#1c1904;
    position:fixed;
    top:20%;
    left:18%;
        text-shadow: 1px 1px 0 #FFFFFF, -1px -1px 0 #FFFFFF,
                     -1px 1px 0 #FFFFFF,  1px -1px 0 #FFFFFF,
                     1px 0 0 #FFFFFF, -1px  0 0 #FFFFFF,
                     0 1px 0 #FFFFFF,  0 -1px 0 #FFFFFF;
}
#manga1_text h1{
    font-size:85px;
    margin-bottom:0px;
}
#manga1_text h2{
    margin-top:10px;
    font-size:50px;
}
#manga2_div{
    width:100%;
}
#manga2_left{
    position:absolute;
    top:65px;
    left:0px;
}
#manga2_left img{
    border-right:solid 10px #FFFFFF;
    border-bottom:solid 10px #FFFFFF;
}
#manga2_right{
    position:absolute;
    top:360px;
    right:0px;
}
#manga2_right img{
    width:850px;
    border-top:solid 10px #FFFFFF;
    border-left:solid 10px #FFFFFF;
}
#manga2_rightup{
    position:absolute;
    top:65px;
    right:0px;
    width:690px;
    height:295px;
    background-color:#000000;
    color:#FFFFFF;
}
#manga2_rightup li{
    font-size:24px;
    margin-bottom:4px;
}
#manga2_leftdown{
    position:absolute;
    top:520px;
    left:0px;
    width:662px;
    height:345px;
    background-color:#000000;
    color:#FFFFFF;
}
#manga2_leftdown li{
    font-size:24px;
    margin-bottom:4px;
}
#manga2_div h1{
    font-size:40px;
    margin:0px 0px 0px 15px;
}
～趣味～

#hoby1_1{
    width: fit-content;
}
#hoby1_1 img{
    padding:88px 0px 0px 20px;
    width:350px;
}
#hoby1_2{
    width: fit-content;
}
#body1_2 img{
    width:350px;
    padding-left:20px;
    padding-top:13px;
}
#hoby1_home2{
    float:right;
    width:210px;
}
#body1_3{
    width: fit-content;
}
#body1_3 img{
    width:290px;
    position:absolute;
    left:390px;
    top:414px;
}
#body1_4{
    width:fit-content;
}
#body1_4 img{
    width:350px;
    position:absolute;
    top:85px;
    right:20px;
}
#body1_5{
    width:fit-content;
}
#body1_5 img{
    width:380px;
    position:absolute;
    top:85px;
    right:390px;    
}
#body1_6{
    width:fit-content;
}
#body1_6 img{
    width:343px;
    position:absolute;
    top:85px;
    left:390px
} 
#body1_8{
    width: fit-content;
}
#body1_8 img{
    width:800px;
    position:absolute;
    right:20px;
    top:314px;
}
#hoby_text{
    font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
    position:absolute;
    top:210px;
    left:430px;
    font-size:50px;
    color:#e39c46;
}